@charset "UTF-8";

.usm-join-box {
    height: 120px;
    margin-top: 3px;
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #E1E1E3;
    overflow-y: scroll;
    background-color: #fff;
}
.usm-join-box dl dd.usm-clr-blue {
		font-size: 16px; color: #0E44DE; 
}

dd{
	display: block;
}
#container{
	position: relative;
	top: 100px;
	width: 900px;
	margin: auto;	
}


#title{
	position: relative;
	text-align: center;
}

#info{
	position: relative;
	margin: 10px;
	width: 850px;
}

#leftInfo{
	float: left;
	width: 200px;
	height: 150px;
	margin-left: 20px;
	margin-right: 50px;
	margin-top: 10px;
	font-weight: bold;
	font-size: 40px;
}

#centerInfo{
	width: 800px;
}

#bottomInfo{
	position: relative;
	width: 900px;
	font-size: 10px;
}

#name, #id, #password, #passOk{
	margin-top:15px;
	width: 400px;
	height: 30px; 
}

#button{
	margin-top: 50px;
	position: relative;
	text-align: center;	
}