<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 이름이 없는 bean / 이름이 있는 bean / 같은 타입이 여러개인 bean -->
	<bean id="nickName" class="com.min.edu.test01.NickName"></bean>
	<bean id="nickNamePrn" class="com.min.edu.test01.NickNamePrn">
		<property name="nickName" ref="nickName"></property>
	</bean>
</beans>
