<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:annotation-config/>

	<bean id="mystu1" class="com.min.edu.test03.Student">
		<property name="name" value="홍길동"/>
		<property name="age" value="11"/>
		<property name="addr" value="탐라국"/>
	</bean>
	<bean id="mystu2" class="com.min.edu.test03.Student">
		<property name="name" value="둘리"/>
		<property name="age" value="40"/>
		<property name="addr" value="서울"/>
	</bean>
	
	<bean id="myschool" class="com.min.edu.test03.School">
		<property name="grade" value="1"/>
	</bean>
</beans>
