<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" 
"http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration
	xmlns:log4j="http://jakarta.apache.org/log4j/">

<!-- root tag에 있는 appender 객체의 설정을 작성 -->
<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
	<layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="[%d] [%-5p] %c %x - %m%n"/>
	</layout>
</appender>

<logger name="java.sql.Connection">
	<level value="TRACE"/>
</logger>
<logger name="java.sql.Statement">
	<level value="TRACE"/>
</logger>
<logger name="java.sql.PreparedStatement">
	<level value="TRACE"/>
</logger>
<logger name="java.sql.ResultSet">
	<level value="TRACE"/>
</logger>

<root>
	<level value="TRACE"/>
	<appender-ref ref="consoleAppender"/>
</root>


</log4j:configuration>